<a href="https://colab.research.google.com/github/simoneminorr/GH-demo/blob/main/11_13_R_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

older than python
object oriented language (everything is an object)
glorified calculator
can have different commands on the same line with semicolons in between
assignments are made with <- , -> (or = but not reccomended)
periods have no significance here so periods can be used in naming
names cannot start with numbers or punctuation other than period(must start with a letter) and if it starts with a period it cannot be followed with a number
case sensitive for name
reserved words: TRUE, FALSE, NULL

In [3]:
favorite_album <- "Over it"
favorite_album
#recognized that it was a string and echoed it back to ne as a s

[1] "Over it"

In [4]:
myvar <- 11

In [5]:
typeof(myvar)
#a type of number is a "double"

[1] "double"

In [6]:
"Sophie" -> datascientist
datascientist

[1] "Sophie"

In [11]:
myname <- c("Bob", "Dylan")
myname
#what is being populated is to the left and the arrow is pointing from right to left

[1] "Bob"   "Dylan"

In [12]:
x <- 10.5
x

[1] 10.5

In [13]:
class(x)
#typeof returns what R considers the type
#class returns what R considers the class

[1] "numeric"

In [16]:
y <- as.integer(3)
y
class(y)
is.integer(y) #is y an integer? returns TRUE
#boolean values in R
#is test --> is.whatever

[1] 3

[1] "integer"

[1] TRUE

In [17]:
as.integer(3L)
#will return a 3 because it can decipher the number in this phase however could not do "as.integer("Joe")" because it is obviusly not a number

[1] 3

In [18]:
as.integer(TRUE) #1
as.integer(FALSE) #0

[1] 1

[1] 0