<a href="https://colab.research.google.com/github/simoneminorr/GH-demo/blob/main/9_22_Pandas_Class_Work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt #(library.class)

%matplotlib inline
#to give us our plot in lines

In [35]:
mock_data = pd.read_csv("MOCK_DATA.csv")

In [ ]:
mock_data.info

In [ ]:
mock_data.index
#outputs "RangeIndex (start=0, stop= 1000, step=1)" there is 1001 columns because we included a header

In [ ]:
mock_data.head()
#the display is a default 5 records in pandas

In [ ]:
mock_data.head[1]

In [ ]:
#grab a specific row from a df
mock_data.lock[9]

In [ ]:
mock_data.describe()
#simple statistics

In [ ]:
#get the columns from the df
mock_data.columns
#get a list output with square brackets

In [ ]:
mock_data.dtypes
#should only have strings(it recognizes them as objects) and integers in this examples

In [ ]:
mock_data = mock_data.rename (columns={"first_name":"fname", "last_name":"lname"})
#call a new data set the exact same thing so we are going to overwrite the last one
#using curly brackets because you are passing in a dictionary: key is old column name and value is new name, key:value
#when you run this nothing will come out because you are altering the names but not calling for them
mock_data.head(5)

In [ ]:
mock_data['fname']

In [ ]:
mock_data[['fname','lname']]
#needs two square brackets
#it is colab that is neatening this up into a table

In [ ]:
pd.value_counts(mock_data['gender']).plot.bar()
#got a value count for a particular data and called for all the values to be plotted
#function of pandas we are "grabbing"

In [ ]:
mock_data.groupby(['gender'])['age'].mean()