<a href="https://colab.research.google.com/github/simoneminorr/GH-demo/blob/main/homework/week-6-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 6

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

# Pandas

## 1. Fetch and Load Data
In class we created a DataFrame using the `read_csv` method. Go to https://catalog.data.gov/dataset/electric-vehicle-population-data and download the CSV format of the "Electric Vehicle Population Data" dataset. Then upload it to Google Colab.

Load that data into a Pandas DataFrame and display the first 20 rows. Show your work.

In [ ]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import pandas as pd

df = pd.read_csv("Electric_Vehicle_Population_Data.csv")

In [ ]:
# Format a command that how many rows and columns are in this dataset.

# Remember the SHAPE command gives us counts of rows and columns.
df.shape

(143399, 17)

In [ ]:
# Format a command that displays every other row of record labeled 1000 through 1999, and the columns "City", "State", "Model Year", and "Make".

# This is using a 3-parameter slice (x:y:z) within the .loc command.
# [1000:1999:2] gives you records 1000 through 1999 (as selected by the LOC of the label on each row), and the :2 gives you every other row.
# The second half of the .loc command is a python list specifying which columns we want, by label.

df.loc[1000:1999:2,["City","State","Model Year","Make"]]

             City State  Model Year      Make
1000  Federal Way    WA        2022       KIA
1002    Arlington    WA        2021      JEEP
1004       Burien    WA        2018      AUDI
1006         Kent    WA        2018     TESLA
1008    Newcastle    WA        2022     TESLA
...           ...   ...         ...       ...
1990      Bothell    WA        2023       KIA
1992      Poulsbo    WA        2015     TESLA
1994     Kirkland    WA        2018  CHRYSLER
1996     Bellevue    WA        2014     TESLA
1998         Kent    WA        2023   HYUNDAI

[500 rows x 4 columns]

# 2. Cleaning/Imputing Data

In class we reviewed methods for removing duplicate rows and handling empty cell values. Download [this data set](https://github.com/nmagee/ds1002/blob/main/data/very-messy-data.csv) and upload into Google Colab.

Create another Pandas DataFrame from that data and perform the following steps.

In [ ]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
# Fetch the file set, load into colab, and create a new pandas DF.

df2 = pd.read_csv("very-messy-data.csv")

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
# First I want to see how many rows are total:
print(len(df2))

# then I want to see how many are dupes
print(df2.duplicated().sum())

1316
316

In [ ]:
# Next, remove all duplicate rows using Python.
# There are two ways to do this -- because I want to write out or SAVE the changes.

# Method 1 - assign the same variable name to the modified dataset. This way df2
# will be populated with the version of df2 that has duplicates dropped.
# df2 = df2.drop_duplicates()

# Method 2 - an available parameter of the drop_duplicates method is to tell Python
# to write the changes to the dataframe in place, i.e. save it to the dataframe.
df2.drop_duplicates(inplace=True)

In [ ]:
len(df2)

1000

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean such that NO empty cells remain. This method
# is called "imputation" because it fills in cells in a statistically less-impactful
# way than if they were blank.

# Show how you would update those four columns in code

# A little bit of research shows you that you can update multiple columns at the same
# time by specifying them within the df. Here I fill these 4 columns with the column
# mean. Notice that yes you get a FutureWarning.

df2[["sepal_length","sepal_width","petal_length","petal_width"]] = df2[["sepal_length","sepal_width","petal_length","petal_width"]].fillna(df2.mean())

<ipython-input-44-eddeac73c4b5>:12: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2[["sepal_length","sepal_width","petal_length","petal_width"]] = df2[["sepal_length","sepal_width","petal_length","petal_width"]].fillna(df2.mean())

In [ ]:
df2

       id  sepal_length  sepal_width  petal_length  petal_width    species
0       1           3.5     2.900000      1.400000     0.500000  virginica
1       2           3.6     3.200000      3.000000     0.500000     setosa
2       3           3.8     2.987694      2.200000     1.500000     setosa
3       4           5.8     2.700000      2.600000     1.200000  virginica
4       5           4.9     3.600000      3.000000     1.200000  virginica
..    ...           ...          ...           ...          ...        ...
995   996           4.5     3.600000      2.000442     2.700000     setosa
996   997           4.0     2.100000      2.000442     2.100000     setosa
997   998           5.9     2.500000      2.100000     2.500000  virginica
998   999           5.0     2.600000      1.900000     1.561863        NaN
999  1000           3.4     3.900000      1.900000     1.500000     setosa

[1000 rows x 6 columns]

# 3. Save to a New CSV

Preserve your updated DF to a CSV file by using the method built into Pandas.
Name the output file `very-clean-data.csv` and save it to GitHub in the same directory where you will save this homework. We will review both your Colab notebook and the cleaned data file.

In [ ]:
# This is a simple built-in command of pandas:

df2.to_csv("very-clean-data.csv")